<carousel>
    <slide>
      <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
    <slide>
      <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color: black;">Ιατρικά εργαλεία</h3>
        <p style="color: black;">Στο MediSupply θα βρείτε ο,τι χρειάζεστε ιατρικα εργαλεία  
        </p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/hero3.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color: black;">Ιατρικά Επιπλά</h3>
        <p style="color: black;">Στο MediSupply θα βρείτε ο,τι χρειάζεστε για τον εξοπλισμό του ιατρείου σας
        </p>
      </div>
    </slide>
  </carousel>

  <section class="featured">
    <div class="d-flex justify-content-center pt4">
        <h1>Καλωσορίσατε στο MediSupply</h1>
    </div>

  </section>